<!DOCTYPE HTML>
<html lang="hr" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="sidebar" class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="dashboard" th:href="@{/}">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="app_project_list" th:href="@{/projects}">
                    <i class="nav-icon fas fa-pencil-alt"></i> Project</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="app_sample_list">
                    <i class="nav-icon fas fa-atom"></i> Samples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="app_samplefiles_list">
                    <i class="nav-icon fas fa-file"></i> Files</a>
            </li>


        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
</body>
</html>