<!DOCTYPE HTML>
<html lang="hr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/dist/base.css}" rel="stylesheet">
    <!--<link rel="stylesheet" href="{% static "fontawesome-free/css/solid.min.css" %}">-->
    <!--<link rel="stylesheet" href="{% static "fontawesome-free/css/fontawesome.min.css" %}">-->
    <title>Microbiome web</title>

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<div class="app-body">
    <div th:replace="layout/_sidebar :: sidebar">sidebar</div>

    <section layout:fragment="content">
        <h1>Home page index</h1>
    </section>
</div>

<script th:src="@{/dist/base.js}"></script>
<script th:src="@{/dist/runtime.js}"></script>
</body>
</html>
