<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<section layout:fragment="content">

    <h1>Home page in</h1>


    <h2>Useri</h2>

    <h1 sec:authorize="isAuthenticated()" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <span sec:authorize="!isAuthenticated()">
        <a href="logout" th:href="@{/login}">
            Login
        </a>

    </span>

    <ul th:each="u : ${users}">
        <li>
            <span th:text="${u.toString()}"></span>
        </li>
    </ul>

    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
    </div>

    Logged user: <span sec:authentication="name"></span>


    <hr>

    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
    <div sec:authorize="isAuthenticated()">
        Text visible only to authenticated users.
    </div>
    Authenticated username:
    <span sec:authentication="name"></span>

</section>

</body>
</html>