<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<section layout:fragment="content">
    <h1>List projects</h1>

    <ul th:each="p : ${projects}">
        <li >
           <span  th:text="${p.getName()}"></span> <a href="#" th:href="@{/projects/{id}/upload-files(id=${p.id})}">Add files to project</a>
        </li>
    </ul>

    <a class="btn btn-primary" href="create" th:href="@{/projects/new-project}">Create new project</a>


</section>

</body>
</html>